<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-stand|ie-comp">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale = 1.0, maximum-scale = 1.0, user-scalable = no" media="all">
<link rel="stylesheet" href="../css/site.css"/>
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<title>我的简历</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
<body>
	<div class="wrapper">
        <!--顶部标题与操作按钮开始 -->
		<div class="header">
            <a class="back">&nbsp;&nbsp;</a>
            <label>意向工作</label>
        </div>
		<!--顶部标题与操作按钮结束 -->
        <!--用户发布简历信息开始 -->
		<ul class="resume info_resume border_bottom border_top">
        	<li class="border_bottom">
                <img class="require" alt="必填图标" src="../images/require.png"/>
                <h3>工作年限</h3>
                <select class="caret" id="js_workYears">
                      <option value="9">无经验</option>
                      <option value="7">10年以上</option>
                      <option value="6">8~10年</option>
                      <option value="5">5~8年</option>
                      <option value="4">3~5年</option>
                      <option value="3">2~3年</option>
                      <option value="2">1~2年</option>
                      <option value="1">1年以内</option>
                      <option value="0">在读学生</option>
                      <option value="8">应届毕业生</option>
                </select>
            </li>
			<li class="border_bottom">
					<h3>学历</h3>
					<select class="caret" id="js_degree">
					  <option value="">请选择最高学历</option>
					  <option value="0">未知</option>
					  <option value="1">初中一下</option>
					  <option value="2">中专/技校</option>
					  <option value="3">高中</option>
					  <option value="4">大专</option>
					  <option value="5">本科</option>
					  <option value="6">硕士及以上</option>
					</select>
            </li>
			<li class="border_bottom">
					<h3>学校</h3>
					<input type="text" placeholder="请输入学校名称" id="js_school"></input>
            </li>
			<li class="border_bottom">
					<h3>专业</h3>
					<input type="text" placeholder="请输入就读或毕业专业" id="js_major"></input>
            </li>    
        </ul>
        <!--用户发布简历信息结束 -->
        
        <!--保存简历按钮开始 -->
        <a class="btnbig" href="javascript:void(0);" id="js_save_p2">保存简历</a>
        <!--保存简历按钮结束 -->
        
        <!--进度条开始 -->
        <div class="progress">
           <div class="progress-bar" role="progressbar" aria-valuenow="60" 
              aria-valuemin="0" aria-valuemax="100" id="js_progress" style="width: 0%;">
              <span class="sr-only">40% 完成</span>
           </div>
        </div>
        <!--进度条结束 -->
        <script type="text/javascript" src="../app/resume_publish.js"></script>
		<script type="text/javascript">
               resumeP2.init();;
        </script>
	</div>
</body>
</html>
